@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.woff2') format('woff2'),
         url('assets/fonts/young-serif/YoungSerif-Regular.woff') format('woff'),
         url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.woff2') format('woff2'),
         url('assets/fonts/outfit/Outfit-VariableFont_wght.woff') format('woff'),
         url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f3e5d8;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.preparation-bg{
    background-color: #fff7fc;
    padding: 10px;
}

h1, h2, h3 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

ul, ol {
    padding-left: 20px;
    color: #888481;
}

strong {
    color: #555;
}

p {
    color: #888481;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0px;

}

ul li::before {
    content: '•';
    color: hsl(14, 45%, 36%);
    font-size: 22px;
    margin-right: 10px;
}

ol {
    list-style: decimal;
}

.title h1{
    color: black; 
    font-weight: 100;
}
button {
    background-color: hsl(332, 51%, 32%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.nutrition-table {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #888481;
    background-color: #fff7fc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nutrition-table tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    padding: 10px 0;
  }
  
  .nutrition-table th {
    color: #555;
    width: 50%;
    text-align: start;
  }
  
  .nutrition-table td {
    width: 50%;
    text-align: start;
  }

  .preparation-bg h2{
    color: hsl(332, 51%, 32%);
    font-family: sans-serif;
    font-size: medium;
    padding-left: 20px;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    padding: 10px;
}

button:hover {
    background-color: hsl(330, 100%, 98%);
    color: hsl(332, 51%, 32%);
}

@media (max-width: 375px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

}

.attribution {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: auto;
    padding: 10px;
}
